* {
    background-color: black;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, p, h3 {
    color: white;
}

.gordo {
    color: black;
    background-color: beige;
    border-radius: 15px;
    padding: 10px;
}

.botao_href{
    text-decoration: none;
    color: white;
}